<input type="hidden" value="<%if(user){%><%= user.admin %><%}else{}%>" id="test">

<%if(user.admin == true){%>

<div class="container" ng-init="setup()">
    <div class="row">

        <h4>
            Get All Abstracts
        </h4>
        <button class="btn" ng-click="setup()">Update</button>
            <a class="waves-effect waves-light btn" href="/users/logout">Logout</a>
        <input type="text" ng-model="query" placeholder="Search">
        <ul class="collection col m6">
            <li class="collection-item " ng-repeat="user in users|filter:query" ng-if="user.abstract.length>0">
                <div ng-if="user.admin!=true">
                    {{user.fullname}}
                    <br>
                    {{user.institution}}
                    <br>
                    {{user._id}}
                    <br>
                    {{user.journal}}
                    <br />
                    <form method="get" action="/getAbs">
                        <input type="hidden" name="abstract" value="{{user.abstract}}">
                        <input class="btn" type="submit" value="get abstract" ng-if="user.hidden">

                    </form>
                    <button class="btn disabled" ng-if="!user.hidden" >File not found</button>
                </div>
            </li>
            </ul>
        <ul class="collection col m6">
            <li class="collection-item" ng-repeat="user in users|filter:query" ng-if="user.abstract.length==0">
                <div ng-if="user.admin!=true">
                    {{user.fullname}}
                    <br>
                    {{user.institution}}
                    <br>
                    {{user._id}}
                    <br>
                    {{user.journal}}
                    <br />
                    <button class="btn disabled" ng-if="user.abstract.length==0">Not Uploaded</button>
                </div>
            </li>
        </ul>

    </div>
</div>



<%}else{%>
<div class="container" style="text-align:center" ng-init="setup()">
   <div class="row">
       <h4>
           Welcome <%= user.fullname%>
       </h4>
   </div>

    <form method="post" action="/upload" enctype="multipart/form-data" onsubmit="return Validate(this);">
        <div class="container">
            <label for="imgfile">Upload Doc File: </label>
            <input type="file" name="fileUpload"/>
            <input type="hidden" name="email" value="<%= user._id%>">
            <input class="btn" type="submit" onclick="document.getElementById('error').innerHTML = 'Uploading, please refresh page after uploading in complete.'"/>
        </div>
    </form>
    <p style="color:red" id="error" ></p>
    <p style="color:red" id="reupload"></p>
    <% if(user.journal){ %>
    <div class="row">
        <h5>
            Journal: <%= user.journal %>
        </h5>
    </div>
    <%}%>
    <form action="/getAbs" method="get">
        <input type="hidden" value="<%= user.abstract%>" id="abs" name="abstract">


        <input type="submit" value="get abstract" class="btn"></form>
    <br />
        <div align="center">
            <a class="waves-effect waves-light btn" href="/users/logout">Logout</a>
        </div>
</div>
<div class="container">
<div class="col m4 s12 card z-depth-1 dates center-align" style="padding: 2% 1% !important;">
    <h5>Important Dates</h5>
    <table style="margin: 0 !important;padding: 0 !important;">
        <tr>
            <td>
                Submission of abstracts
            </td>
            <td>
                {{dates.abstracts}}
            </td>
        </tr>
        <tr>
            <td>
                Acceptance Notification
            </td>
            <td>
                {{dates.notification}}
            </td>
        </tr>
        <tr>
            <td>
                Registration at normal rate
            </td>
            <td>
                {{dates.normalrate}}
            </td>
        </tr>
        <tr>
            <td>
                Booking of Accommodation
            </td>
            <td>
                {{dates.accommodations}}
            </td>
        </tr>
    </table>

</div>
</div>
<%}%>

<script type="text/javascript">
    window.onload = function(){
        if(window.location.href.indexOf("#") == -1){
            window.location.assign("/#/")
        }
    };
    var _validFileExtensions = [".doc", ".docx"];
    function Validate(oForm) {
        var arrInputs = oForm.getElementsByTagName("input");
        for (var i = 0; i < arrInputs.length; i++) {
            var oInput = arrInputs[i];
            if (oInput.type == "file") {
                var sFileName = oInput.value;
                if (sFileName.length > 0) {
                    var blnValid = false;
                    for (var j = 0; j < _validFileExtensions.length; j++) {
                        var sCurExtension = _validFileExtensions[j];
                        if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                            blnValid = true;
                            break;
                        }
                    }

                    if (!blnValid) {
                        document.getElementById('error').innerHTML =  "Sorry, " + sFileName.split('\\')[sFileName.split('\\').length-1] + " is invalid, allowed extensions are: " + _validFileExtensions.join(", ");
                        return false;
                    }
                }
            }
        }

        return true;
    }
</script>